-e git+https://github.com/django-nonrel/django-nonrel.git@develop#egg=django
-e git+https://github.com/emperorcezar/djangotoolbox.git@feature/queryemptylists#egg=djangotoolbox
-e git+https://github.com/django-nonrel/mongodb-engine.git@develop#egg=mongodb-engine
-e git+https://github.com/django-nonrel/django-permission-backend-nonrel.git#egg=permission_backend_nonrel
-e git+https://github.com/andresdouglas/django-tastypie.git@nonrel#egg=tastypie
-e git+https://github.com/emperorcezar/django-recurrence.git#egg=recurrence
django-mptt
django-tinymce==1.5.1a1
mimeparse==0.1.3
python-dateutil==1.5
python-digest==1.7
# wsgiref==0.1.2
pil
django_compressor
django-celery
celery-with-mongodb
