#springboard_outer {
    margin-top: 100px;
}

#springboard {
    width: 30%;
    margin: auto;
    text-align: center;
}

.springboard_icon {
    text-align: center;
    width: 70px;
}

.springboard_icon img {
    width:40px;
}
